/* Default styles */
.default_image{
    width: 300px;
    margin: 2vh auto;
}
.default_title{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}
.default_description{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: var(--principal);
}
.default_button{
    width: 250px;
    margin-top: 5vh;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black);
    border-radius: 2vh;
    border: 2px solid;
    background: none;
    cursor: pointer;
    position: relative;
}
.default_button > *{
    position: absolute;
    left: 1rem;
    transform: rotate(180deg);
}