/* PageContent styles */
.page_content{
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    padding-top: 90px;
    background: var(--white);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.icon_page{
    width: 80px;
    margin: 3vh auto 0;
}
.title_page{
    width: 100%;
    margin: 1vh auto;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 900;
    color: var(--principal);
}
.table_action_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.QRCode_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.table_action_container > svg{
    cursor: pointer;
}