/* PageContent styles */
.page_content{
    background: var(--white);
    min-height: 100vh;
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}