/* PageContent styles */
.page_content{
    background: var(--white);
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.page_container{
    padding: 2vh 0 calc(80px + 3vh);
}

/* Responsive */
@media (max-height: 630px) {
    .page_container{
        padding: 0 0 calc(80px + 3vh);
    }
}