/* Toastify styles */
.Toastify__toast-container--bottom-right {
    bottom: 0 !important;
    right: 10px !important;
}
@media only screen and (max-width: 480px){
    .Toastify__toast-container {
        max-width: calc(100vw - 20px);
        left: 10px !important;
    }
}

.Toastify__toast-theme--light{
    color: var(--dark);
}
.Toastify__toast{
    border-radius: 2vh 2vh 0 2vh !important;
    margin-bottom: .7rem !important;
}
.Toastify__toast--success{
    box-shadow: 0 1px 20px 0 #07bc0c66, 0 2px 25px 0 #0000000d !important;
    color: var(--toastify-color-success) !important;
    border: 1px solid !important;
}
.Toastify__toast--info{
    box-shadow: 0 1px 20px 0 #3498db66, 0 2px 15px 0 #0000000d !important;
    color: var(--toastify-color-info) !important;
    border: 1px solid !important;
}
.Toastify__toast--warning{
    box-shadow: 0 1px 20px 0 #f1c40f66, 0 2px 15px 0 #0000000d !important;
    color: var(--toastify-color-warning) !important;
    border: 1px solid !important;
}
.Toastify__toast--error{
    box-shadow: 0 1px 20px 0 #e74c3c66, 0 2px 15px 0 #0000000d !important;
    color: var(--toastify-color-error) !important;
    border: 1px solid !important;
}